<div data-controller="hello" class="hello-message">
  <!-- The Stimulus controller will update this content -->
</div>

<style>
  .hello-message {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    color: #333;
  }
</style>